{% extends 'base.html.twig' %}

{% block body %}

	<article>
		<h2>{{ game.getGameName }}</h2>
		<div class="metadata">Ecrit par
			{{ game.getGameCreator}}
			le 10/05/2018 dans la catégorie Politique</div>
		<div class="content">
			<img src="http://placehold.it/350*150" alt="">
			<hr>
			{{ game.getGameDescription | raw }}
		</div>
	</article>

{% endblock %}
