{% extends 'base.html.twig' %}

{% block body %}

	<h1>Bienvenue dans Bibliothèque de StimLike</h1>

	<p>
		Excepteur qui amet nisi elit officia. Mollit aliquip consequat ipsum sit ea proident adipisicing cupidatat et sit est nostrud. Sint ex anim esse do tempor. 
										Qui labore laboris aute occaecat commodo. Consequat ea velit incididunt sint id sunt.
										Excepteur qui amet nisi elit officia. Mollit aliquip consequat ipsum sit ea proident adipisicing cupidatat et sit est nostrud. Sint ex anim esse do tempor. 
										Qui labore laboris aute occaecat commodo. Consequat ea velit incididunt sint id sunt.
										Excepteur qui amet nisi elit officia. Mollit aliquip consequat ipsum sit ea proident adipisicing cupidatat et sit est nostrud. Sint ex anim esse do tempor. 
										Qui labore laboris aute occaecat commodo. Consequat ea velit incididunt sint id sunt.
	</p>
	<p>
		Excepteur qui amet nisi elit officia. Mollit aliquip consequat ipsum sit ea proident adipisicing cupidatat et sit est nostrud. Sint ex anim esse do tempor. 
										Qui labore laboris aute occaecat commodo. Consequat ea velit incididunt sint id sunt.
										Excepteur qui amet nisi elit officia. Mollit aliquip consequat ipsum sit ea proident adipisicing cupidatat et sit est nostrud. Sint ex anim esse do tempor. 
										Qui labore laboris aute occaecat commodo. Consequat ea velit incididunt sint id sunt.
										Excepteur qui amet nisi elit officia. Mollit aliquip consequat ipsum sit ea proident adipisicing cupidatat et sit est nostrud. Sint ex anim esse do tempor. 
										Qui labore laboris aute occaecat commodo. Consequat ea velit incididunt sint id sunt.
	</p>
{% endblock %}
