{% extends 'base.html.twig' %}

{% block body %}
 {{ form_start(form) }}
    
    {{ form_row(form.username, { 'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur ...'}}) }}



    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#dataModal" href="#">Inscription</button>


    {{ form_end(form) }}

 {% endblock %} 