<div class="px-5 pt-4">
  <blockquote class="blockquote">
    <p class="mb-0 pb-3 h4"><strong>PARAMÈTRES PASSWORD</strong></p>
    <footer class="blockquote-footer">Gérez les informations de compte que vous avez partagées avec StimLike, dont votre nom, vos informations de contact et plus</footer>
    <p class="mb-0 pt-5 pb-3 h4"><strong>INFOS DE COMPTE</strong></p>
  </blockquote>

    <div class="row">
      <div class="col">
      <div class="errorrr">
      </div>
            {{ form_start(formPassword, {'attr': {'id': 'form_password_edit'}}) }}
             {{ form_row(formPassword.password) }}

        <input type="text" class="form-control form-control-lg"  id="disabledInput" placeholder="N0urs86" disabled="">
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
    <button type="submit" class="btn btn-success" data-toggle="modal" id="formPassword" data-target="#dataModal" href="#">Change Password</button>
      </div>
      <div class="col">
        <input type="text" class="form-control form-control-lg"  id="disabledInput" placeholder="emaill@gmail.com" disabled="">
      </div>
                       {{ form_end(formPassword) }}

    </div>
</div>

