<style> 
.vertical { 
border-left: 2px solid black; 
height: 200px; 
display: inline-block;
} 


</style> 

<div class="px-5 pt-4">
  <blockquote class="blockquote">
    <p class="mb-0 pb-3 h4"><strong>CHANGER VOTRE MOT DE PASSE</strong></p>
    <footer class="blockquote-footer">Pour votre sécurité, nous vous conseillons vivement de choisir un mot de passe unique que vous n'utilisez pour aucun autre compte en ligne.</footer>
    <p class="mb-0 pt-5 pb-3 h4"><strong>INFOS DE COMPTE</strong></p>
  </blockquote>

    <div class="row pb-5">
      <div class="col">
        <div class="errorrr"></div>
        {{ form_start(formPassword, {'attr': {'id': 'form_password_edit'}}) }}
        {{ form_row(formPassword.password, {'attr': {'class': 'form-control form-control-lg'}}) }}
      </div>
      <span class="vertical"></span>
        <div class="password-information-section col-md-6"><div class="title-section"><p class="title">Votre mot de passe</p></div><div class="description-section"><p class="description">Vous ne pouvez pas réutiliser l'un de vos 5 derniers mots de passe.</p><p class="description">Votre mot de passe doit faire au moins 8 caractères.</p><p class="description">Votre mot de passe doit contenir au moins un chiffre.</p><p class="description">Votre mot de passe ne peut contenir aucun espace.</p></div></div>
    </div>
            <div class="d-grid gap-2">
          <button class="btn btn btn-primary btn-height mr-2 cancelbtn nohover" type="button">ANNULER LES CHANGEMENTS</button>
          <button class="btn btn btn-primary btn-height ml-2 acceptbtn nohover" type="submit" id="formPassword" href="">SAUVEGARDER LES CHANGEMENTS</button>
        </div>
      {{ form_end(formPassword) }}
    </div>
</div>

